
.leftsidenav {
	font-family: 'Montserrat', sans-serif;
	height: 100%;
	width: 15%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #11525d;
	background-image: url("img/background1.png");
	background-repeat: repeat;
	/* background-size: cover; */
	overflow-x: hidden;
	padding-top: 1%;
}
  
.leftsidenav a {
	padding: 6px 6px 6px 32px;
	text-decoration: none;
	font-size: 150%;
	/* font-weight: bold; */
	color: #000000;
	display: block;
	/* border: 1px 0px 1px 0px solid black; */
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.leftsidenav a:hover {
	color: #f1f1f1;
	border: 1px solid white;
}

ab {
	padding: 6px 6px 6px 32px;
	text-decoration: none;
	font-size: 150%;
	font-weight: bold;
	color: #000000;
	display: block;
}

.rightsidenav a:hover {
	color: #f1f1f1;
}

.rightsidenav {
	border-left: 0.5rem solid cadetblue;
	font-family: 'Montserrat', sans-serif;
	height: 100%;
	width: 40%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #196774;
	overflow-x: hidden;
	padding-top: 20px;
	margin-left: 75%;
	padding-left: 3%;
	padding-right: 3%;
}
  
.rightsidenav a {
	padding: 6px 6px 6px 32px;
	text-decoration: none;
	font-size: 175%;
	color: #818181;
	display: block;
}
  

.main {
	margin-left: 15%; /* Same as the width of the sidenav */
	margin-right: 65%;
	background-color: #1d606b;
	font-family: 'Montserrat', sans-serif;
	height: 100%;
	width: 50%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	/* overflow-x: hidden; */
	padding-top: 3%;
	padding-left: 5%;
	padding-right: 5%;
	border-left: 0.5rem solid cadetblue;
	border-right: 0.5rem solid cadetblue;
}

.ah2{
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
}

input[type=submit] {
	font-size: 1.5rem;
	width: 50%;
	background-color: rgb(76, 155, 175);
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
  
input[type=submit]:hover {
	background-color: #4592a0;
}
  
input[type=text], select {
	width: 50%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=integer], select {
	width: 50%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

/* @media screen and (max-height: 450px) {
	.leftsidenav {padding-top: 15px;}
	.rightsidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
} */